In [3]:
import numpy as np 
import pandas as pd 
# Series are one-dimentional
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df= pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -1.715964 -0.601889 -0.673379  0.040753
2013-01-02  0.662149  0.050267 -1.866346 -0.150534
2013-01-03  0.422632  0.087141  0.380408 -1.421357
2013-01-04 -1.492102 -0.507343 -0.203947 -0.808064
2013-01-05  0.802292  1.683271 -0.827239 -0.298557
2013-01-06  0.412688  0.025560 -0.374250 -1.214216

In [8]:
df2 = pd.DataFrame(

    {

        "A": 1.0,

        "B": pd.Timestamp("20130102"),

        "C": pd.Series(1, index=list(range(4)), dtype="float32"),

        "D": np.array([3] * 4, dtype="int32"),

        "E": pd.Categorical(["test", "train", "test", "train"]),

        "F": "foo",

    }

)
df2
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [13]:
df.index

df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.to_numpy()

array([[-1.71596446, -0.60188941, -0.67337874,  0.04075306],
       [ 0.66214911,  0.0502675 , -1.86634644, -0.15053359],
       [ 0.42263244,  0.0871406 ,  0.38040795, -1.42135711],
       [-1.49210212, -0.50734314, -0.2039469 , -0.8080636 ],
       [ 0.80229167,  1.68327051, -0.82723926, -0.29855704],
       [ 0.41268758,  0.02555969, -0.37425032, -1.21421627]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.151384  0.122834 -0.594126 -0.641996
std    1.137053  0.821378  0.752259  0.598005
min   -1.715964 -0.601889 -1.866346 -1.421357
25%   -1.015905 -0.374117 -0.788774 -1.112678
50%    0.417660  0.037914 -0.523815 -0.553310
75%    0.602270  0.077922 -0.246523 -0.187539
max    0.802292  1.683271  0.380408  0.040753

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.715964    0.662149    0.422632   -1.492102    0.802292    0.412688
B   -0.601889    0.050267    0.087141   -0.507343    1.683271    0.025560
C   -0.673379   -1.866346    0.380408   -0.203947   -0.827239   -0.374250
D    0.040753   -0.150534   -1.421357   -0.808064   -0.298557   -1.214216